
<!-- As a heading -->
 <span class="badge bg-secondary d-flex justify-content-center"><h2>Shorter URL</h2></span>

{{!-- container --}}

<div class="container mt-5 text-center">
   
<div class="d-flex justify-content-center mt-10 mb-3">
    <img class="picture" src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" alt="URLimg">
    </div>
    {{#if shortURL}}
    <div class="mb-3">        
                <p class="fs-2 fw-bolder">Success! Please use this link:</p>
                <a href='http://localhost:3000/{{shortURL}}' id="newURL" target="_blank" class="">http://localhost:3000/{{shortURL}}</a>
    </div>
    <div class="d-grid gap-2 col-4 mx-auto">
    <button class="btn btn-outline-success" type="button" onclick="copy()">Copy</button>
    <button class="btn btn-outline-primary"><a href="http://localhost:3000/">Home</a></button>
    </div>

    <script>
        function copy() {
            const URL = document.querySelector("#newURL")
            navigator.clipboard.writeText(URL.innerText)
                .then(() => alert('已複製網址內容'))
                .catch(error => console.log(error))
        }
    </script>
    </div>
   
    {{else}}
    <div class="mb-3 d-flex justify-content-center">
        <form action="/shortURL" method="post">
        <label for="URL" class="form-label mt-10" ><h3>URL:</h3></label>
        <input type="url" class="form-control" id="inputURL"
        name="inputURL"
        placeholder="Please input URL here">
    </div>
    <button type="submit" class="btn btn-outline-dark col-4 mx-auto">Shorten</button>
</form>
    {{/if}}
</div>