
<!-- As a heading -->
 <span class="badge bg-secondary d-flex justify-content-center"><h2>Shorter URL</h2></span>

{{!-- container --}}

<div class="container mt-5 text-center">
   
<div class="d-flex justify-content-center mt-10 mb-3">
    <img class="picture" src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" alt="URLimg">
    </div>
    {{#if shortURL}}
    <div class="mb-3">        
                <h3>Success! Please use this link:</h3>
                <a href='http://localhost:3000/{{shortURL}}' id="newURL" target="_blank">http://localhost:3000/{{shortURL}}</a>
    </div>
    <button class="copy mb-3 btn btn-primary" onclick="copy()">Copy</button>
    <a href="http://localhost:3000/"> home </a>
   
    <script>
        function copy() {
            const URL = document.querySelector("#newURL")
            navigator.clipboard.writeText(URL.innerText)
                .then(() => alert('已複製網址內容'))
                .catch(error => console.log(error))
        }
    </script>
    </div>
   
    {{else}}
    <div class="mb-3">
        <form action="/shortURL" method="post">
        <label for="URL" class="form-label mt-10" ><h3>URL:</h3></label>
        <input type="url" class="form-control" id="inputURL"
        name="inputURL"
        aria-describedby="emailHelp" placeholder="Please input the URL">
    </div>
    <button type="submit" class="btn btn-primary me-md-5">Submit</button>
</form>
    {{/if}}
</div>